<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coordinates</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRz-rQM7ME6UWuWjEYiPcCZI3ccMUdJHg"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div id="map" style="width: 100%; height: 600px"></div>
    <div class="container">
        <div class="col-auto">
            <label for="District" class="form-label">District</label>
            <select id="district" name="district" class="form-select" aria-label=".form-select" onchange="districtHandler()"  required>
              <option value="">None</option>
            </select>
          </div>
          <div class="col-auto">
            <label for="Thana" class="form-label">Thana</label>
            <select id="thana" name="thana" class="form-select" aria-label=".form-select" onchange="thanaHandler()"  required>
            </select>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/scripts/coordinates.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>