<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rawhide Advertisement</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>

    <div class="container">
        <form class="col g-3" action="/seller/giveAdvertisement/rawhide" method="post" enctype="multipart/form-data">
            <div class="col-auto">
                <label for="Quantity" class="form-label">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" placeholder="quantity" oninput="quantityHandler()" required>
            </div>
            <label for="Quantity" class="form-label" id="quantity_error" style="color: red;"></label>
            <div class="col-auto">
                <label for="Preservation style" class="form-label">Preservation style</label>
                <select id="preservation_style" name="preservation_style" class="form-select" aria-label=".form-select"  required>
                    <option value="salted">Salted</option>
                    <option value="dried">Dried</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="Selling price per piece" class="form-label">Selling price per piece</label>
                <input type="number" class="form-control" id="selling_price_per_piece" name="selling_price_per_piece" placeholder="Selling price per piece" oninput="sellingPricePerPieceHandler()" required>
            </div>
            <label for="Selling price per piece" class="form-label" id="selling_price_per_piece_error" style="color: red;"></label>
            <div class="col-auto">
                <label for="Date of storage" class="form-label">Date of storage</label>
                <input type="date" class="form-control" id="date_of_storage" name="date_of_storage" placeholder="Date of storage" oninput="dateHandler()" required>
            </div>
            <div class="col-auto">
                <label for="Date of expiry" class="form-label">Date of expiry</label>
                <input type="date" class="form-control" id="date_of_expiry" name="date_of_expiry" placeholder="Date of expiry" oninput="dateHandler()" required>
            </div>
            <label for="Error" class="form-label" id="date_error" style="color: red;"></label>
            <div class="col-auto">
                <label for="Picture" class="form-label">Picture</label>
                <input type="file" class="form-control" id="picture" name="picture" oninput="pictureHandler()" required>
            </div>
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="2" placeholder="Description"required></textarea>
            </div>
            <div class="col-auto">
                <button id="submit" type="submit" class="btn btn-primary mb-3" disabled>Submit</button>
            </div>
        </form>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/scripts/giveRawhideAdvertisement.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
